*
{
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: auto;

}


a
{
    text-decoration: none;
}

form
{
    margin-top: 2em;
}
form fieldset
{
    border-radius: 4px;
}
form fieldset legend
{
    padding: 0 0.5em;
}

hr
{
    margin-bottom: 2em;
    margin-top: 2em;
}

td{
    border: 2px solid grey;
    padding: 10px;
}